/* Nile Brewer  */
/* CSS Style sheet for Portfolio About page */
/* Start date 11-26-21 */


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//   Header: top of Home page
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Montserrat:wght@500&display=swap');
/* imports the font for the page */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* * = universal section.  so it covers everything, and here it just shows that we will use padding and margin */

:root{
  --mainColor: rgb(28, 28, 29);
  --secondaryColor: rgb(72, 72, 104);

  --image: url('ben-griffiths-l7R85WBKl1c-unsplash.jpg');

  --mainText: rgb(160, 160, 246);
  --secondaryText: rgb(235, 227, 227);

  --boarderColor: #19181a;

}
/* This is how you can change the entire documents text from one place.  Use color: var(...) to use it. */

.s1{
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--boarderColor);
  overflow: auto;
}

.s2{
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--boarderColor);
  overflow: auto;
}

/* not necessary lower 2 sections */
.main-container{
/* width: 1200px; */
margin: 0 auto;
}

@media screen and (max-width: 1200px){
  .main-container{
    width: 99%;
  }
}
/* not necessary upper 2 sections */


body{
  background-image: url(ben-griffiths-l7R85WBKl1c-unsplash.jpg);
  /* background-image: url(noita-digital-QZX8jbK1xEw-unsplash.jpg); */
  background-repeat:cover; 
  background-size: 90em;
}
  
/* h1{font-size: 56px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 16px;} */

header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

li, a, p, h3{
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  /* color: var(--mainColor); */
  color: rgb(252, 252, 252);
  /* color: blue; */
  text-decoration: none;
}

.scrollingHome{
  text-align: right;
  padding: 1px 2%;
}
.scrollingHome a{
  font-size: 20px;
}

strong{
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: rgb(33, 40, 87);
  font-weight: bold;
  text-decoration: none;
  text-decoration: underline;
}

#resume a{
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgb(84, 97, 245);
  text-decoration: none;
  border-radius: 20px;
}

#resume a:hover{
  cursor: pointer;
  box-shadow: 0 0 5px rgb(84, 97, 245),
              0 0 20px rgb(84, 97, 245),
              0 0 60px rgb(84, 97, 245),
              0 0 150px rgb(84, 97, 245);
}

/* img {
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
  width: 150px;
  align-content: center;
} */
/* This makes the photo round, the boarder radius in % can be changed.  
I did it in .logo below so that each image can be individually edited.*/

.logo{
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
  width: 150px;
  align-content: center;
  margin-inline-end: auto;  
}
/* This is for placement in flex */

.nav__links{
  list-style: none;
}
  
.nav__links li{
  display: inline-block;
  padding: 0px 20px;
}
  
.nav__links li a{
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
  color: rgb(84, 97, 245);;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//   middle of Home page
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.myInfo{
  max-width: 1300px;
  margin: 5% 5%;
  line-height: 1.65;
  padding-left: 1%;
  padding-right: 1%;
  
  /* padding: 1% 16%; */
  text-align: left;
  justify-content: left;
  display: flex;
  flex-direction: column;
  /* background-color: #06A8FF; */
  padding-bottom: 17em;
}
.myInfo p{
font-size: 27px;
}

.me{
  
}
/* .me 
.me #name{
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 38px;
  color: aliceblue;
  text-decoration: none;
  white-space: nowrap;
    font-family: 'Beau Rivage', cursive;

} */

.main{
  flex: 1;
  justify-content: center;
  align-items: center;
}

.button{
  border: none;
  outline: none;
  height: 40px;
  width: 140PX;
  background: rgb(84, 97, 245);
  font-size: 15px;
  border-radius: 20px;
  transition: 0.3s ease;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgb(252, 252, 252);
  /* color: blue; */
  text-decoration: none;
}

.button:hover{
  cursor: pointer;
  box-shadow: 0 0 5px rgb(84, 97, 245),
              0 0 20px rgb(84, 97, 245),
              0 0 60px rgb(84, 97, 245),
              0 0 150px rgb(84, 97, 245);
}
/* Below is the size of my name to try and make it fit */
#name{
  font-family: "montserrat", sans-serif;
  /* font-family: 'Beau Rivage', cursive; */
  font-weight: 500;
  font-size: 27px;
  color: aliceblue;
  /* color: blue; */
  text-decoration: none;
  white-space: nowrap;
}

h1{
  font-family: "montserrat", sans-serif;
  /* font-family: 'Beau Rivage', cursive; */
  font-weight: 500;
  font-size: 38px;
  color: aliceblue;
  /* color: blue; */
  text-decoration: none;
  white-space: nowrap;
}
/* The text description for list elements and links */

h2{
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 23px;
  color: aliceblue;
  /* color: blue; */
  text-decoration: none;
  white-space: nowrap;
}
/* The text description for list elements and links */
h4{
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: aliceblue;
  /* color: blue; */
  text-decoration: none;
  white-space: nowrap;
}

button{
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  /* color: aliceblue; */
  color: blue;
  text-decoration: none;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//   Home page scrolling arrow
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.arrow{
  position: absolute;
  top: 85%;
  left: 10%;
  transform: translate(-50%,-50%);
}

.arrow span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #06A8FF;
  border-right: 5px solid #06A8FF;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2){
  animation-delay: -0.2s;
}

.arrow span:nth-child(3){
  animation-delay: -0.4s;
}

@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//   About Me
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.mainColumn{

padding: 1px;
}

.mainColumn p{
  font-size: 20px;
}

h2.skills{
font-size: 25px;
text-align: center;
}

.secondColumn{
  display: flex;
  justify-content: space-around;
}

p.secondColumn{
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 21px;
  color: rgb(252, 252, 252);
  text-decoration: none;
}

p.moreAbout{
  text-align: center;
  justify-content: center;
}
/* The arrow div is for the scrolling arrow, from "free front end" and "codepen"
        https://freefrontend.com/css-arrows/#arrows-down https://codepen.io/raf187/pen/BvgGRQ 
 */

 /*/////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//   projects container
//
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.main-project-container{
  /* display: flex; */
  /* text-align: center; */
}

#sectionLabel{
  text-align: center;
}

.projects-container{
  /* overflow: hidden; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  /* padding-block: 40px;  */
  padding-top: 20px;
  padding-bottom: 20px;
  
}
/* This treats all 4 projects as one object */

.project-card{
  padding: 1em;
}
/* https://html-css-js.com/css/generator/box-shadow/
This is from a shadow generator, follow link above, creates shadow for project boxes */

.project_preview{
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 300px;
  border: 1px solid;
  -webkit-box-shadow: 7px 7px 14px 1px rgba(0,0,0,0.54); 
  box-shadow: 7px 7px 14px 1px rgba(0,0,0,0.54);
  background-color: rgb(61, 61, 122);
  padding: 15px
}

/* a.writingSample{
  color: white;
  margin: 0;
  text-align: center;
  justify-content: ;
  font-size:18px;
} */

.project_title{
  color: white;
  margin: 0;
  text-align: center;
  /* justify-content: center; */
}

.project_intro{
  color: white;
  font-size: 16px;
}

.thumbnail{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  width: 300px;
  height: 250px;
  object-fit: cover;
}

/* Buttons in Project Container */
a.projectButton {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: rgb(84, 97, 245);
  text-align: center;
  padding-top: 6px;

}
.projectButton{
  border: none;
  outline: none;
  height: 40px;
  width: 140PX;
  color: rgb(84, 97, 245);
  font-size: 15px;
  border-radius: 20px;
  transition: 0.3s ease;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background: rgb(252, 252, 252);
  /* color: blue; */
  text-decoration: none;
}

.projectButton:hover{
  cursor: pointer;
  box-shadow: 0 0 5px rgb(84, 97, 245),
              0 0 20px rgb(84, 97, 245),
              0 0 60px rgb(84, 97, 245),
              0 0 150px rgb(84, 97, 245);
}